{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block content %}

{% if page == 'login' %}
<div class="col-md-6 d-flex m-auto border border-white text-light">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" class="form-control-sm" name="username" placeholder="Enter Username">
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control-sm" name="password" placeholder="Enter Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

{% else %}

<div class="col-md-6 d-flex m-auto border border-white text-light">
    <form method="POST" action="">
        {% csrf_token %}
       {{form|crispy}}
        <input type="submit" value="Register" />
    </form>
</div>
{% endif %}

{% endblock content %}