{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block content %}
<div class="row d-flex justify-content-center border border-white">
    <div class="col-md-4">
        {% if show_form %}
        <div class="card card-body bg-dark text-light">
            <h4>UNITS FORM</h4>
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy}}
                <button class="btn btn-sm btn-success" type="submit">Save</button>
                <button class="btn btn-sm btn-danger" type="reset">Cancel</button>
            </form>
        </div>
        
        <div class="card card-body bg-dark text-light">
            <h4>SEARCH UNITS</h4>
            <form method="get">
                {% csrf_token %}
                {{ myFilter.form|crispy }}
                <button class="btn btn-sm btn-primary">Search</button>
            </form>
        </div>
    {% endif %}
    </div>
    <div class="col-md-8">
        <h4 class="text-light">PROPERTIES</h4>
        <table class="table table-sm table-success table-striped">
            <thead>
                <th>Name</th>
                <th>Type</th>
                <th>Location</th>
                <th>Principal</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                {% for property in properties %}
                    <tr>
                        <td>{{ property.name | title }}</td>
                        <td>{{ property.type | title  }}</td>
                        <td>{{ property.location }}</td>
                        <td>{{ property.principal }}</td>
                        <td><a href="#" class="btn btn-sm btn-success">View</a></td>
                        <td><a href="{% url 'create-unit' property.id %}" class="btn btn-sm btn-primary">Create Unit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex align-items-center justify-content-between">
            <h4 class="text-light">UNITS</h4>
            <a class="btn btn-secondary btn-sm" href="{% url 'unit-types' %}">Go To Unit Types</a>
        </div>
        
        <table class="table table-sm table-success table-striped table-bordered border border-white">
            <thead>
                <th>Property</th>
                <th>Name</th>
                <th>Principal</th>
                <th>Type</th>
                <th></th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                {% for unit in units %}
                    <tr>
                        <td>{{ unit.property.name| title }}</td>
                        <td>{{ unit.name | title  }}</td>
                        <td>{{ unit.property.principal}}</td>
                        <td>{{ unit.type }}</td>
                        <td><a href="#" class="btn btn-sm btn-success">View</a></td>
                        <td><a href="{% url 'update-unit' unit.id %}" class="btn btn-sm btn-primary">Update</a></td>
                        <td><a href="{% url 'delete-unit' unit.id %}" class="btn btn-sm btn-danger">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}